<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div class="container text-white my-3">
  <h1>アンケート</h1>
  <p>花譜discordにて行ったアンケートで63件の回答を得られました。<br>みなさん、ありがとうございました。</p>
  <p>※「命に嫌われている（Prayer Ver.）」は「歌ってみた」と表記されていないので除外しています。</p>
  <hr>
  <h2>花譜のオリジナル曲で一番好きな歌は？</h2>
  <ngx-charts-pie-chart
    [view]="view"
    [results]="original"
    [doughnut]="true"
    [arcWidth]="0.5"
    [legend]="true"
  ></ngx-charts-pie-chart>
  <h3>一位「不可解」（21.8%）</h3>
  <p><a href="https://www.youtube.com/watch?v=NDOJZSG9SPU">https://www.youtube.com/watch?v=NDOJZSG9SPU</a></p>
  <p>ダントツの得票数を獲得したのは、花譜1st ONE-MAN LIVE「不可解」で初公開され、その表題曲でもある「不可解」。<br>唯一、Youtubeでライブ映像として公開され、現地の熱狂を感じることができる。<br>不可解は誰もが感じるであろう社会への閉塞感、生きる希望や将来の夢への葛藤を歌っている。<br>15歳の等身大の少女にしか描けないリアリティが不可解には込められている。
  </p>
  <h3>二位「そして花になる」（14.5%）</h3>
  <p><a href="https://www.youtube.com/watch?v=y6TGSY9Zll">https://www.youtube.com/watch?v=y6TGSY9Zll</a></p>
  <p>「みんなで作る！花譜ファーストワンマンライブ」のクラウドファンディングはまだ記憶に新しい。<br>この曲は20,000,000円のストレッチゴールとして書き下ろされたもので、まさにみんなで作り上げた歌と言えるだろう。<br>花譜と僕たちの出会いから始まり、雛鳥、糸、忘れてしまえ、そして不可解と随所に既存曲のタイトルが散りばめられ、花譜と共に歩んできた日々を思い出すことができる。<br>「そして花になる」は花譜とそして僕たち共犯者の歌だ。
  </p>
  <h3>三位「忘れてしまえ」（9.1%）</h3>
  <p><a href="https://www.youtube.com/watch?v=2Nj1l-S2FJU">https://www.youtube.com/watch?v=2Nj1l-S2FJU</a></p>
  <p>2019年1月31日に公開された「忘れてしまえ」。<br>翌日から休譜が発表されており、皆が別れを惜しむ中でのプレミア公開となった。<br>「忘れてしまえ」と叫ぶ花譜は、むしろ観測者の記憶に残り続けるものとなったことは間違いない。<br>休譜をこの歌とともに乗り切った観測者も多いことだろう。<br>そういう意味でも印象に残る曲である。
  </p>
  <hr>
  <h2>花譜の歌ってみたで一番好きな歌は？</h2>
  <ngx-charts-pie-chart
    [view]="view"
    [results]="cover"
    [doughnut]="true"
    [arcWidth]="0.5"
    [legend]="true"
  ></ngx-charts-pie-chart>
  <h3>一位「死神」（25.8%）</h3>
  <p><a href="https://www.youtube.com/watch?v=LRO_uhj_99E">https://www.youtube.com/watch?v=LRO_uhj_99E</a></p>
  <p>圧倒的な得票率を獲得した「死神」。<br>不可解で初公開されたとき、感情の暴力とも言っていい感慨に打ちのめされた観測者も多いことだろう。<br>花譜の魅力は様々あるが、この曲はポエトリーリーディングの部分が非常に多く、表現力の豊かさが如実に出ている曲だ。
  </p>
  <h3>二位「フロントメモリー」（11.3%）</h3>
  <p><a href="https://www.youtube.com/watch?v=iD5ZCHjI5CU">https://www.youtube.com/watch?v=iD5ZCHjI5CU</a></p>
  <p>
    大人しく儚い歌声の花譜のイメージが強かった7月17日、「まぢあっちーし！」と歌う少女の声は、この少女が成長途中の15歳の少女だということを再認識させた。<br>「フロントメモリー」は花譜と過ごした夏を思い出すのに最適な曲だろう。<br>不可解のエンドロールでも流れたまさに花譜を代表する一曲。
  </p>
  <h3>三位「告白」（9.7%）</h3>
  <p><a href="https://www.youtube.com/watch?v=9orupK2mjMY">https://www.youtube.com/watch?v=9orupK2mjMY</a></p>
  <p>花譜のオリジナル曲はすべてカンザキイオリさんが書き下ろしていることは有名だ。<br>そんなカンザキイオリさんのカバー「告白」。<br>花譜の声はいつも切なさや儚さの中に、どこか芯の強さを感じさせてくれる。<br>それはカンザキイオリさんの曲の魅力をより一層際立たせる。<br>カンザキイオリ×花譜の組み合わせは最強だ。
  </p>
  <hr>
  <h2>総評</h2>
  <p>みなさんありがとうございました！<br>一周年を際して行ってみたアンケートでしたが、63件という多く回答を得ることができました。<br>個人的な所感では、花譜1st ONE-MAN
    LIVE「不可解」に関連した曲が多いという印象です。<br>8月1日、「きょうからあしたのせかいをかえるよ」とツイートした花譜ですが、このアンケートを見るにそれだけ多くの人の心に残ったものが多いのでしょう。<br>花譜の歩みはこれからも続きます。<br>僕たちはこの不可解な感情と共に、更なる飛躍を遂げるであろう花譜を観測していきましょう！<br>来年の結果が楽しみです。
  </p>
  <p>執筆者　かなた</p>

</div>
