<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div id="load-twitter"></div>

<div class="container-fluid text-white my-4">
  <div class="row">
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1135128037446410240?ref_src=twsrc%5Etfw">花譜
        聖地巡礼</a>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1138789187291738113?ref_src=twsrc%5Etfw">花譜
        過去を喰らう 聖地巡礼</a>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1150771422664376320?ref_src=twsrc%5Etfw">花譜
        夜が降り止む前に 聖地巡礼</a>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1155653086012067846?ref_src=twsrc%5Etfw">花譜
        川崎 聖地巡礼</a>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1178210510803632129?ref_src=twsrc%5Etfw">花譜
        観測者の聖地巡礼</a>
    </div>
    <div class="col-lg-3 col-md-4 my-3">
      <a class="twitter-moment" href="https://twitter.com/i/moments/1145002270326579201?ref_src=twsrc%5Etfw">花譜の聖地</a>
    </div>
  </div>
</div>
