<ng-template [ngIf]="isWait">
  <div class="wait-screen"></div>
</ng-template>
<ng-template [ngIf]="isLoading && !isWait">
  <div class="load-screen animate">
    <ng-lottie
      [options]="options"
      (animationCreated)="animationCreated($event)"
    ></ng-lottie>
  </div>
</ng-template>

<nav class="navbar-custom sticky-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="navbar-brand" routerLink="/" class="py-2">
      <img src="/assets/images/logo.svg" width="72">
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
