.navbar-custom {
  background: rgba(0, 0, 0, .9);
}

@supports (backdrop-filter: blur(5px) brightness(1.2)) {
  .navbar-custom {
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px) brightness(1.2);
  }
}

.wait-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: linear-gradient(45deg, #13004c, #440636);
}

.load-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(45deg, #13004c, #440636);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOutLoading 1s ease-in-out forwards;
  animation-delay: 2.8s;

  ng-lottie {
    position: fixed;
    width: 5000px;
    height: 5000px;
    animation: loadAnimateLaplace 3.5s ease-in-out forwards;
    transform-origin: center;
  }
}

@keyframes loadAnimateLaplace {
  0% {
    transform: scale(0) translateY(10%);
  }
  70% {
    transform: scale(3) translateY(0);
  }
  100% {
    transform: scale(3) translateY(20%);
  }
}

@keyframes fadeOutLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav-item {
  font-family: ta-candy,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;

  a {
    color: #fff;
    transition: all .25s;
    
    &:hover {
      color: #ee6cff;
    }
  }
}
