<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div class="container text-white my-4">
  <h3 class="my-0 mt-4">弾いてみた「糸」 蕣</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <video src="https://s3.arkjp.net/KafFirstAnniversary/videos/617717731453567016_2.mp4" width="100%" controls [volume]="0.1"
           preload="metadata"></video>
  </div>

  <h3 class="my-0 mt-4">弾いてみた「糸」 無糖</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <video src="https://s3.arkjp.net/KafFirstAnniversary/videos/617717731453567016.mp4" width="100%" controls [volume]="0.1"
           preload="metadata"></video>
  </div>
  <h3 class="my-0 mt-4">歌ってみた「そして花になる」 つも</h3>
  <div class="embed-responsive embed-responsive-16by9">
    <video src="https://s3.arkjp.net/KafFirstAnniversary/videos/605750539011227659.mov" width="100%" controls [volume]="0.1"
           preload="metadata"></video>
  </div>
</div>
