<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div class="container text-white">
  <div class="row my-4">
    <div class="col-12">
      <h1>クレジット一覧</h1>
      <p>このWebサイトの制作に関わった観測者の一覧です。</p>
      <h4>観測者discordとは？</h4>
      <p>観測者discordは観測者の交流を深め、楽しみながら花譜の成長を見守っていくために設立されました。</p>
      <p>このサイトはその一環として作成しました。それぞれに創作者の思いがこもっています。</p>
      <p>ぜひ多くの作品を見てください。</p>
    </div>
  </div>
  <div class="row my-4">
    <h2 class="col-12">イラスト</h2>
    <div class="col-md-6 my-3">
      <h4>花譜</h4>
      <p class="user">チャンプルー</p>
      <p class="user">A,M雪の下</p>
      <p class="user">クロラ</p>
      <p class="user">ラセンタ</p>
      <p class="user">そらちゃ</p>
      <p class="user">オオセグロ粉レモン</p>
      <p class="user">vivitama36</p>
      <p class="user">羽兎牙</p>
      <p class="user">星屑</p>
      <p class="user">ふく”</p>
      <p class="user">🐧</p>
      <p class="user">春美☆花譜ちゃん大好き</p>
    </div>

    <div class="col-md-6 my-3">
      <h4>らぷらす</h4>
      <p class="user">チャンプルー</p>
      <p class="user">wmi</p>
      <p class="user">わつを</p>
      <p class="user">こぁなぁた</p>
      <p class="user">藤堂 天音</p>
      <p class="user">オオセグロ粉レモン</p>
      <p class="user">はとみ</p>
      <p class="user">ｽｼｨｰ</p>
      <p class="user">A,M雪の下</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">動画</h2>
      <p class="user">つも</p>
      <p class="user">無糖</p>
    </div>

    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">年表</h2>
      <p class="user">ルエ</p>
      <p class="user">Kanata</p>
    </div>

    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">写真</h2>
      <p class="user">RMR</p>
      <p class="user">ばかんす</p>
      <p class="user">ラセンタ</p>
    </div>

    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">文章</h2>
      <p class="user">詩譜とも</p>
      <p class="user">yuuma</p>
    </div>

    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">アンケート</h2>
      <p class="user">観測者discord一同</p>
    </div>

    <div class="col-md-4 my-3">
      <h2 class="col-12 p-0">HPデザイン</h2>
      <p class="user">村上さん</p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12 my-3">
      <h2>コメント</h2>
      <p class="user">hamaji0105 観測者</p>
      <p class="user">ゆば</p>
      <p class="user">野良猫のユウ</p>
      <p class="user">ルエ</p>
      <p class="user">48日</p>
      <p class="user">ミズ</p>
      <p class="user">ヘラムス</p>
      <p class="user">はっすー</p>
      <p class="user">春美☆花譜ちゃん大好き</p>
      <p class="user">大和みうの蒼蘭 太ももすこれや</p>
      <p class="user">すてぃ～</p>
      <p class="user">そうき</p>
      <p class="user">はとみ＊推しは推せる時に推す</p>
      <p class="user">イリィ（改名）</p>
      <p class="user">よりおじ</p>
      <p class="user">shiva</p>
      <p class="user">そらち。</p>
      <p class="user">シン</p>
      <p class="user">huuken</p>
      <p class="user">永遠なる音律</p>
      <p class="user">無糖</p>
      <p class="user">vivitama36</p>
      <p class="user">Kanata</p>
      <p class="user">potato607</p>
      <p class="user">蕣</p>
      <p class="user">ユクズカ＿Moniker</p>
      <p class="user">Kirin</p>
      <p class="user">ないろん</p>
      <p class="user">HIDESUKE</p>
      <p class="user">gyuho</p>
      <p class="user">メイ</p>
      <p class="user">夏天咲大(な～さく)</p>
      <p class="user">A,M雪の下</p>
      <p class="user">shilvarion</p>
      <p class="user">ハト・ニンジャ</p>
      <p class="user">Mak</p>
      <p class="user">つも</p>
      <p class="user">トム_観測者</p>
      <p class="user">綾人</p>
      <p class="user">ヒロ</p>
      <p class="user">ばかんす(埼玉県)</p>
    </div>
  </div>
</div>
