<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div class="container-fluid my-4">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            活動1周年、おめでとうございます。<br>
            私にとっては長いようで、とても短かったようにも思えます。<br>
            私は観測者になり半年が経ちます。<br>
            友達に布教されたのが最初だったのですが、その時に配信されてまもなくの雛鳥を聴きその透き通った声と美しい歌い方に惹かれました。<br>
            あの時の驚きは…言葉にならないほどです。<br>
            たくさんの人達と思い出に支えられた「受験」や「クラウドファンディング」の波を越えて実現した1stLIVE「不可解」の感動を私は忘れません。<br>
            <br>
            過去も今も未来も変わりない「花譜」を観測するために。<br>
            私はずっと応援しています。
          </p>
        </div>
        <div class="card-footer">哀音蒼蘭</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            1周年おめでとうございます！<br>
            <br>
            #01から花譜さんを知り、ずっと追い続けて今に至ります。<br>
            憂鬱だった受験期も、花譜さんの歌を聴いて乗り越える事ができ、無事に第一志望校に合格することが出来ました。花譜さんと同じ高校一年生でありながら、その歌声と才能にいつも魅了され、出会った時からずっと憧れの存在です。<br>
            先日の『不可解』はライブビューイングで参戦しましたが、感動のあまり、その後Twitterで感想を呟こうにも言葉が出てこない状況でした。確実に"花譜"はこれからも何かを変えると確信し、観測を続けることを決めた夜でした。<br>
            <br>
            学業との両立は本当に大変だと思います。疲れたらゆっくり休んで、体を壊さないようにこれからも頑張ってください。<br>
            <br>
            すきなうたをすきなだけうたってください。
          </p>
        </div>
        <div class="card-footer">すてぃ〜</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            一周年おめでとう！<br>
            私は花譜ちゃんのことをcount0で知りました。<br>
            私はそれまで曲をあまり聞く方ではなかったけどすきなVtuberが出るからcount0を見ていました。<br>
            そんな時に花譜ちゃんが歌う糸を聞いたときに一瞬で私は花譜の作る空気に飲まれてしまいました。<br>
            それ以来私は花譜ちゃんの曲を毎日聞いています。花譜ちゃんが楽しそうに歌を歌っている動画を見るのが大好きです。<br>
            <br>
            これからも自分が好きな歌を好きなだけ歌ってください。<br>
            そんな動画が出たら私たち観測者はそれを観測します。<br>
            本当に一周年おめでとう！
          </p>
        </div>
        <div class="card-footer">そうきくん。</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            活動1周年おめでとうございます！！<br>
            私は、同い年の花譜ちゃんが大好きです。（とんでもない人と同じ年に産まれちゃった。）<br>
            YouTubeの広告から花譜ちゃんの事を知り、最初は「何この子！？歌うまっ！！」ってひたすら驚いてました。<br>
            力強い、唯一無二の歌声と可愛らしい普段の喋り方とのギャップがとてもすきです。<br>
            花譜ちゃんの歌を聴くことで、楽しい気持ちになったり、感動したり、「がんばろう」って気持ちになったりします。<br>
            私も花譜ちゃんのように、誰かを楽しませられる人間になりたいです！<br>
            <br>
            これからも、できる限り、しっかりマナーを守りながら全力で推していきます！！<br>
            花譜ちゃん、これからも頑張ってね！！応援してるよ！！
          </p>
        </div>
        <div class="card-footer">はとみ
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            1周年おめでとです！<br>
            花譜ちゃんのことは1月ごろに知り、ずっと聞かせていただいています。<br>
            僕は一つ年下の受験生です。<br>
            初めて歌声を聴いた時から、花譜ちゃんの声が大好きでした。<br>
            その歌声に元気をもらうことも多かったです。<br>
            この一年でいろいろな出来事があって、ふえぇな年になりました！<br>
            もっとたくさんの歌を歌って、みんなを笑顔にしてください！<br>
            P.S.<br>
            無理しないでくださいね！

          </p>
        </div>
        <div class="card-footer">イリィ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            一周年おめでとうございます！<br>
            count0で花譜ちゃんを知ってから歌声、雰囲気、表現力、時折見える等身大の女の子の部分など。<br>
            様々な1面を観測してきて、その魅力に引き込まれ毎日歌を聴いています。<br>
            今では花譜ちゃんの歌は自分の生活の一部で、人生の彩りの1つになっています。<br>
            これからも花譜ちゃんが好きな歌を楽しんで、好きなだけ歌って貰えるよう精一杯応援していきますね。<br>
            <br>
            最後にもう一度、活動一周年本当におめでとうございます！
          </p>
        </div>
        <div class="card-footer">よりおじ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ！<br>
            一周年おめでとおおお！！！('ω')ノ<br>
            花譜ちゃんのこと大好きだよおおお！！！！<br>
            いつも、花譜ちゃんの歌声を聞いて元気をもらってます！<br>
            大好きで、何回もリピートしたり…ファンアートとかたくさん描いています！！！<br>
            そんな今日は花譜ちゃんにとって記念すべき一周年！！！<br>
            もう、花譜ちゃんに出会えて本当に良かったって思ってます…(´；ω；`)ｳｩｩ！！！<br>
            可愛くて、歌声がきれいで、たまに噛んでしまうところとか…<br>
            全て好きです！！！！(*ﾉωﾉ)<br>
            これからも、ずっと応援してます！！！
          </p>
        </div>
        <div class="card-footer">春美</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん！<br>
            あなたのことは1stLive「不可解」で偶然知りました。気まぐれにYouTubeLIVEを開いた瞬間、かつてない衝撃を感じました。<br>
            <br>
            これは、間違いなく、世界を変えるものだ。<br>
            <br>
            直感的に分かりました。<br>
            私は「不可解」にて観測者となり、花譜さんの歌を聴き、その度にあなたの歌が好きになりました。<br>
            <br>
            15歳という若さにして何万人もの人々を魅了し続けるその歌声。私はそれを観測し続けたいと思います。<br>
            これからも頑張って下さい。1周年おめでとうございます！
          </p>
        </div>
        <div class="card-footer">はっすー</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん、一周年おめでとうございます！<br>
            私が花譜さんを知ったのはcount0からですが、応援を始めてからの日々が本当に楽しくて、これまであっという間だった気がします。<br>
            花譜さんの歌は他の何よりも私の心を動かして、世界を変えてくれました。<br>
            花譜さんの物語は始まったばかりで、これからも観測出来るということがとても嬉しいです。<br>
            これからも花譜さんが好きな歌を好きなだけ歌えることを願って、全身全霊で応援し続けます。<br>
            好きです。
          </p>
        </div>
        <div class="card-footer">ヘラムス</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん！<br>
            私は元々カンザキイオリさんが好きだったのですが、2ヶ月前のある日にカンザキさんのツイートをみて、「花譜ってなんだろう？」と思ってYouTubeで調べました。そこから、適当に選んだ「夜が降やむ前に」を聴いてすぐに歌声に魅了され、どハマりしました。後から花譜さんの年齢が自分と同じだと聞いて、とても驚きました。<br>
            それでも、まだプロローグであり、これからどんどん化けるんだと思うと全くその先が想像出来ないです。<br>
            私はこれからも成長していく「花譜」を「観測」する「観測者」でありたいです。<br>
            ホントに応援しています。<br>
            これからも頑張ってください！
          </p>
        </div>
        <div class="card-footer">ミズ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん一周年おめでとうございます！<br>
            正直あなたが活動を始めてまだ一年しか経っていないことに驚いています。そのくらいあなたが与えてくれたものが大きいです。<br>
            はじめはあなたの声の魅力に惹かれて聞いていたのですがだんだんとあなたの歌の世界に魅せられてどんどん好きになっていきました。<br>
            １ｓｔLiveの『不可解』ではたしかに自分の中の″何か″が変えられました。その″何か″をこれからも大切にして生きていきます。<br>
            これからも応援していきます！<br>
            頑張ってください！
          </p>
        </div>
        <div class="card-footer">48日</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">

      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん、1周年おめでとうございます！<br>
            私は特別何かを美しいと思うことはなかったのですが、あなたの声、歌、ビデオだけは美しい、綺麗だと思えました。<br>
            今の生きる糧です。<br>
            1周年、登録者20万人ということが自分のことのように嬉しくてきっと泣き叫んでいます(笑)<br>
            これからもあなたが好きな歌を歌い続けてください。<br>
            私もあなたが歌い続ける限り応援し続けます。<br>
            まだ私も10代なので、できないことが多いですが、心の底からあなたを愛しています。
          </p>
        </div>
        <div class="card-footer">ルエ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            一周年おめでとうございます！<br>
            貴女の歌を初めて聴いたときからずっと応援してこれたこと本当に嬉しく思います。<br>
            花譜さんの歌は本当に多くの人の琴線に触れてきました。<br>
            きっとこれからももっと沢山の人を感動させていくことだと思います。<br>
            貴女の声が世界中に響き渡ることを心から願っています。<br>
            花譜さんが僕たちの目の前から羽ばたいて見えなくなるその時までずっと観測していきます。
          </p>
        </div>
        <div class="card-footer">野良猫のユウ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            かぜ引いてない？<br>
            ふあんはない？<br>
            ちゃんと毎日寝るんだよ<br>
            やさいも食べるんだよ<br>
            んーとね、<br>
            大丈夫だよ、大丈夫だよ、みんな君のことが、<br>
            好きです。<br>
            きみにまた会える日まで、またね。
          </p>
        </div>
        <div class="card-footer">ゆば</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            僕は花譜さんの歌を広告で聞いて凄く良いなと思いました。<br>
            そしてそれがVtuberを知るきっかけになりました。<br>
            それまでV tuberには興味が無かったので、これは全て花譜さんのおかげです。<br>
            ありがとうございます。<br>
            花譜一周年おめでとうございます。
          </p>
        </div>
        <div class="card-footer">hamaji0105</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            一周年おめでとうございます。<br>
            私は元々ボカロ好きで、その中でも特にカンザキさんの曲が好きでした。<br>
            カンザキさんのツイートを見て、カンザキさんが楽曲提供していることを知り、調べたのが花譜ちゃんとの出会いでした。<br>
            その時、「忘れてしまえ」を聞いた時の感動は今でも鮮明に覚えています。儚げで、しかし1本芯がある、そんな花譜ちゃんの声が好きです。<br>
            私は、花譜ちゃんに生きる意味、生きがいを与えてもらいました。<br>
            私は、そんな花譜ちゃんが誇れるような観測者を目指して、努力したいと思います。<br>
            応援しています。頑張って下さい。
          </p>
        </div>
        <div class="card-footer">Shiva</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            一周年おめでとう！<br>
            <br>
            偶然カンザキイオリさんの曲を好きになって、花譜ちゃんがデビューすることを知って…この偶然が重なって#01から追いかけ続けられています。<br>
            僕らの知らない歌、知ってる歌を歌ってくれてありがとう。<br>
            <br>
            花譜ちゃんを知ってから、より一層音楽を好きになれました。<br>
            これからも好きな歌を好きなだけ歌って、好きなことをたくさん楽しんでほしいです。花譜ちゃんの楽しんでる姿を見るとこっちまで楽しくなるし、嬉しくなるからね。<br>
            <br>
            最後に、改めて一周年おめでとう！！これからもあなたたちの創る何かを観測し続けます。
          </p>
        </div>
        <div class="card-footer">そらち。</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            花譜ちゃん一周年おめでとう！！<br>
            超会議後に花譜ちゃんを知ったからまだ日が浅いけど、ずっと花譜ちゃんの歌を聴かせていただいているよぉ(´ω｀)<br>
            最初の歌を聴いたときは確か歌ってみたの「猛毒が襲う」だったかなぁ…。<br>
            あの曲を聴いてから興味を持ち始めて、今ではもうどっぷりと浸からせて頂いてます(´▽｀)<br>
            初めてのワンマンライブ「不可解」で間近に花譜ちゃんを感じることができて泣きそうになったし、演出も本当にすごかった（語彙力)<br>
            これからも好きな歌をたくさん歌ってくれたら嬉しいな。<br>
            学業との両立はかなり大変だと思うけど、無理のない範囲で頑張って！<br>
            <br>
            改めて一周年、本当におめでとう！！<br>
            これからも観測させていただくね。
          </p>
        </div>
        <div class="card-footer">おこづかいおばあちゃん</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            TwitterのTLに流れた布教に気になり2019年新年初めて聴いた曲は心臓と絡操でした。<br>
            魂に響くような歌声と完成度の高いMVにあっという間に惚れ込み、今では花と心臓をDLした今では通学時に毎日聴いています。<br>
            最期まで追っていたいと思えた、この人の活躍を見届けるまでは死ねないと思えた人は貴女が初めてでした。<br>
            一観測者としてずっと、ずっと応援させていただきたいと思います。<br>
            一周年おめでとう。
          </p>
        </div>
        <div class="card-footer">風剣</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            １周年おめでとうございます！！<br>
            <br>
            自分が花譜さんを初めて観測したのは『花譜
            #03』を投稿された頃、当時Vtuberを見ることにハマっていた自分にとってその動画を見て惹き込まれる声と曲、姿も相まってチャンネル登録や高評価、他の動画も見てこれからの花譜さんの活動が楽しみだと思ったのを懐かしく感じてます。<br>
            <br>
            それからの花譜さんの活動が躍進していくのを見るたび、観測者に共犯者になれたことで『Count 0』や映画の主題歌を担当したり、『1st EP
            花と心臓』、クラウドファンディングを経ての『不可解』、『FAVRIC』などの大きなイベントや発表があるたびとてつもなく喜びを感じています。<br>
            <br>
            歌声を聞いては消え入りそうな儚さや存在感のある力強さ、楽しく歌っている情景が浮かび、あどけなさを感じる仕草や話し方、学生服姿や雛鳥の衣装<br>
            に星鴉の姿に語彙力がなくなる事も多々あり想いが溢れては瑠璃鶲の姿で圧倒的な存在感を発揮して言葉に言い表せない感動が押し寄せてきました。<br>
            <br>
            更に活躍する花譜さんをこれからも応援し観測し続けます、好きな歌を歌う花譜さんを応援する観測者の1人として本当に１周年おめでとうございます！！！<br>
            <br>
            花譜さん大好きだーーーーーー！！！
          </p>
        </div>
        <div class="card-footer">永遠なる音律</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            1周年おめでとうございます!<br>
            私は6月頃「過去を喰らう」をたまたま広告で見かけて、引き込まれるような透き通った声とアップテンポなメロディにハマって、花譜の沼に吸いこまれていきました。<br>
            15歳とは思えない程の表現力や歌声に憧れ、そして力を貰っています。<br>
            「不可解」を観測した時、その世界観や自分の語彙力では表せない雰囲気に心打たれ、音楽が人に与える力はこれ程のものなのかと身を持って実感しました。<br>
            <br>
            これからも一人の観測者として、「花譜」をずっと見守り、応援していきます。無理せず、自分のペースで、すきなうたを歌って欲しいです!頑張って下さい!<br>
            改めて、1周年本当におめでとうございます!<br>
            <br>
            P.S<br>
            貴女の歌が世界中の、もっと沢山の人に届きますように。
          </p>
        </div>
        <div class="card-footer">無糖</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            一周年おめでとうございます。<br>
            いつも楽しく動画を拝見しています。<br>
            youtubeの広告で「過去を喰らう」を聞き衝撃を受け、それから暇さえあれば花譜さんの歌を聞いている状態です笑<br>
            私は花譜さんと同じ15才ですが、「不可解」「FAVRIC」などの大舞台に立てる歌唱力、そして勇気がぶっちゃけとてもうらやましいです...<br>
            自分にもそんな力があればなと思うことがあったり...なかったり...<br>
            それくらい花譜さんは私に多くのものを齎してくれました。<br>
            花譜さんに出会うまで色味のなかった私の風景を本当に塗り替えてくれたようでした。(なんかこのセリフめちゃくちゃくさいですね）<br>
            <br>
            とにかく、歌ってくれてありがとう！！！<br>
            <br>
            これからも好きな歌を好きなだけ歌ってくれると観測者としてとっても嬉しいです！<br>
            <br>
            語彙力なくてほんとすみません<br>
            これからもずっと応援しています！！
          </p>
        </div>
        <div class="card-footer">vivitama36</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃん<br>
            <br>
            一周年おめでとう！<br>
            <br>
            自分が初めて観測したのは「さよならミッドナイト」の頃でそれからずっと花譜ちゃんの虜です<br>
            <br>
            あのときの衝撃と感動は今でも昨日のことのように思い出せます。もうそろそろ一年前経つんですね......<br>
            <br>
            超会議や不可解、FAVRICなどを観測してきて、花譜ちゃんが少しずつ成長してきているのを感じます。15歳の少女の等身大の今を観測できる幸せはひとしおです。<br>
            これからも共にあなたとチーム花譜のクリエイティブに参加していきたいです。<br>
            ありがとう<br>
            <br>
            改めて一周年おめでとうございます！
          </p>
        </div>
        <div class="card-footer">かなた</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            １周年おめでとうございます！！<br>
            私が花譜ちゃんを初めて知ったのはニコニコ超会議のときです。あのときは雛鳥に圧倒され、ただただ立ち尽くしていたのを今でもはっきりと覚えています。それまでは音楽を聴いて涙するという経験もなく、よく分からなかったのですがあの時に雛鳥を聴いて鳥肌が立ち、目頭が熱くなりました。それからは花譜ちゃんを追うのが日々の楽しみになっています。新しい曲が出たり、不可解などのイベントで聴いたりして何度も泣いてしまっています・・・今、同じ時代を生きて花譜ちゃんを観測できることに大きな喜びを感じます！こんな経験、楽しみを与えてくれて本当にありがとう！！<br>
            これからも無理なく、自分の好きな歌を歌って多くの人に感動と楽しみを与え続けてください！応援しています！
          </p>
        </div>
        <div class="card-footer">potato</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            一周年おめでとうございます
          </p>
        </div>
        <div class="card-footer">蕣</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん<br>
            <br>
            一周年おめでとうございます。花譜さんの歌に本気で魅せられたのは「フラジール」が投稿された時でした。私は元々この曲が大好きで花譜さんが動画を投稿した時に何気なく聴いてみると儚さの中に力強さがある、透き通っているのに色がある不思議な感覚に魅せられました。一度ハマってしまうと速いもので気付いたら花譜さんの投稿されている歌を全て聴いていて新しい動画が投稿されるとすぐに聴きに行くようになっていました。新しい動画が投稿されるたびに、イベントなどで花譜さんの歌声を聴くたびに「そんな表現の仕方もできるのか」と何度も思わされました。これからどんどん知名度も上がってイベントに呼ばれることが増えたりアルバムの制作などの音楽活動の他にも学業など忙しくなるとは思いますが、一観測者としてこれからも応援しています。改めて花譜さん一周年おめでとうございます！
          </p>
        </div>
        <div class="card-footer">ユクズカ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            １周年おめでとうございます。<br>
            <br>
            「心臓と絡繰」から観測し始め、<br>
            好きなことを、好きなものを好きなようにしているあなたの姿がとっても眩しかった。<br>
            今後の更なる進化を観測し続け、応援していきたいと思います。<br>
            <br>
            改めて一周年おめでとうございます。
          </p>
        </div>
        <div class="card-footer">キリン</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            まずは一周年オメデトウ！！<br>
            <br>
            花譜ちゃんが歌を投稿し始めてからもう一年、あっという間の一年でしたね。<br>
            最初に投稿された「猛独が襲う」を聴いた時から私はあなたの歌声のファンです。<br>
            知らない曲のカバーは普段あまり聴かないのに吸い寄せられるように再生して一声目から虜にされました……初めて聴いた時のあの衝撃を忘れることはないでしょう。<br>
            　<br>
            さて、count0、超会議、Vサマ、DIVE XR、そしてFAVRIC。気づけばたくさんのイベントに出演していたり、ワンマンライブを開催したり(不可解は掛け値無しに人生で一番幸せな時間だったし、人生で初めて心の底から「生きてて良かった」と思わせてくれたライブでした)、歌の表現の幅が恐ろしいほど広がっていたりして、技術的にも精神的にもすごい速度で成長してるんだなぁ、としみじみ感じています。<br>
            　<br>
            そしてその成長はまだまだ止まることはありません。あなたはまだ技術的にも精神的にも成長期、どうか高校生という人生で一度しかない時間を精一杯楽しんでください。その最中で新しくやりたいことを見つけて、どんな選択をしたとしても、私はあなたを応援しています。<br>
            <br>
            願わくばこれからもきみがきみのすきなうたをうたってくれますように<br>
            改めて一周年オメデトウ！！！
          </p>
        </div>
        <div class="card-footer">ないろん</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            一周年おめでとうございます!<br>
            <br>
            私が初めて花譜ちゃんを観測したのは糸です。花譜ちゃんのその透き通っていて力強い歌声に衝撃と感動を覚え、それからずっと追いかけ続けています。<br>
            なにか書こうとも思ったけれど、他の観測者のみなさんが私の思っていることを熱く語ってくれているので私からは一言だけ<br>
            <br>
            感動と楽しみを与えてくれてありがとう！<br>
            <br>
            これからも大好きな歌を好きなだけ歌ってください！<br>
            私達観測者はずっと貴女のことを全力で観測していきます！<br>
            <br>
            Thank you for everything!
          </p>
        </div>
        <div class="card-footer">HIDESUKE</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            1周年おめでとうございます。<br>
            <br>
            ニコニコ超会議の「バーチャルさんがいっぱい スペシャルライブ」で、花譜ちゃんの歌声に震撼しました。<br>
            それから投稿されていた曲を何度も聞きあさり、観測を始めました。<br>
            花譜ちゃんの声で紡がれる曲が、好きになりました。花譜ちゃんのすきなうたが、私のすきなうたになりました。<br>
            花譜ちゃんが歌を歌うたび、確かに私の中の何かが変わっていきます。<br>
            そんな強い感動をくれるあなたを、観測者として、共犯者として、全力で応援していきたいと思います。
          </p>
        </div>
        <div class="card-footer">gyuho</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃん<br>
            <br>
            1周年おめでとう<br>
            私が花譜ちゃんを知ったのは、ほんのつい最近8月のことです。<br>
            部活の友達が教えてくれました。<br>
            良い声だな〜という印象と共に、<br>
            どんどん世界観に引き込まれていき、気づけば観測者になっていました。<br>
            オリジナル楽曲もカバーもどれも素敵で、特に感情の入れ方にどの曲も魅せられます。<br>
            まだまだ花譜ちゃんを知ったばかりで、当方も学生なので、観測の仕方にも歯がゆい部分があるのですが、私なりの精一杯の観測をしつづけます。<br>
            今では毎日の癒しです。<br>
            心から応援してます、だいすきです。
          </p>
        </div>
        <div class="card-footer">メイ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            1周年、本当におめでとう。<br>
            花譜ちゃんを知ったのはVtuberの音楽を漁っていた時に「死んでしまったのだろうか」を聞いてから。<br>
            あの時、本当に感動して新しい動画が投稿される度に通信量の残量などお構いなしにすぐさま動画を見ていたのが懐かしい。<br>
            そんな事が今や約1年前。count0,動画広告,バーチャルさんがいっぱい,ワンマン,Vサマ,DIVE XR,FAVRIC とドンドン立つ舞台を大きくしていっている。<br>
            花譜ちゃんはこの先一体どんな事をしていくんだろうね。<br>
            歌手で、モデルにもなって…<br>
            花譜ちゃんの物語は一体どんな風になるのかな。<br>
            これから高校生活も大変になってしまうけれど、どうか頑張って欲しい。<br>
            高校生になると色々な事をする機会が増えてくると思う。<br>
            どうか、やりたいと思ったことには思い切って挑戦してみてね。<br>
            きっとこれからの活動にも役に立つし、自分の趣味が増えるかもしれない。<br>
            お化けさんなカンザキイオリさん、神椿レコードの皆さんがきっと花譜ちゃんがやりたいことをやらせてくれるはずだから、どうか花譜ちゃんなりのライブを見せてくれるのを待ってます。<br>
            <br>
            改めて花譜ちゃん、1周年おめでとう！<br>
            これまでもこれからも花譜ちゃんをずっと応援しているよ！頑張ってね！
          </p>
        </div>
        <div class="card-footer">夏天咲大(な〜さく)</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん  へ<br>
            2回目の初めまして<br>
            A,M雪の下と申します。<br>
            1周年、おめでとうございます！<br>
            いつも花譜さんが楽しそうに歌っているのを聴くのがとっっても好きで、楽しくて日々の癒しの一部にさせてもらっています<br>
            高校生活も沢山たっっくさん楽しんでくださいお勉強も部活も頑張ってくださいファイト！<br>
            それとドット絵を打ったので見てくれると嬉しいです<br>
            <br>
            どんな事があっても最後には笑って終えられますよう、祈っています。<br>
            本当におめでとうございます。
          </p>
        </div>
        <div class="card-footer">A,M雪の下</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            活動一周年おめでとうございます<br>
            <br>
            ツイッターでTLに流れてきた新年#１０新年が花譜ちゃんとの出会いでした。<br>
            あれから早いもので１０カ月がたちました。<br>
            あれよあれよと大きくなっていく花譜ちゃんに驚かされてばかりです。<br>
            <br>
            花譜ちゃんに出会ってからいろいろな人たちと繋がることが増えて、いろんな世界を見ることが出来ています。<br>
            これからも花譜ちゃんの活動を温かく見守っていたいと思います。<br>
            <br>
            学業と、活動との両立はとても大変かと思います。<br>
            無理をせず、体に気をつけてくださいね。
          </p>
        </div>
        <div class="card-footer">シルヴァリオン</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん、1周年おめでとうございます。<br>
            <br>
            花譜さんとの出会いは新年早々に流れて来た「糸」のイントロ動画からでした。考えてみると花譜さんと出会ってからまだ一年が経っていなく、本当にこの数ヶ月が怒涛なものであり、その時に貰った様々なことはいくら感謝しても足りません。<br>
            <br>
            最後になりますが、1周年本当に本当におめでとうございます。どうかこれからも貴方の好きな歌を、好きなように、好きな時に歌ってください。
          </p>
        </div>
        <div class="card-footer">ハトぽっぽ</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃん、一周年本当におめでとうございます。<br>
            私は花譜ちゃんの歌が好きです。<br>
            曲に込められた世界観をぶつけるような歌声の表現は、聞くと毎回圧倒されてしまいます。<br>
            8月1日、あの日リキッドルームで観た光景は私の世界を変えてくれました。<br>
            そして、きっとこれからもっと多くの人を心を動かす存在になっていくと思います。<br>
            この先もあなたの歌を聞かせてください。<br>
            そして、これからも進化していくあなたを観測させてください。
          </p>
        </div>
        <div class="card-footer">Mak</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            1周年おめでとうございます！！<br>
            僕があなたと出逢ったのは忘れもしない6月27日のことです、ちょうど｢夜が降やむ前に｣がプレミアム公開される前日でしたから<br>
            僕が初めて聴いた花譜ちゃんの歌は｢過去を喰らう｣でした、『あの日出逢った時確かに私の中に何かが生まれた』あなたの声はまるで雛鳥のようにか弱くてそれでいて花のように凛としていて、手で触れようものならすぐ壊れてしまいそうなそんな声でした。僕はそれ以来すっかりあなたの歌声の虜にされてしまいました。<br>
            そして今、僕が観測者となってはや3ヶ月が経とうとしています、花譜ちゃんと出逢ってからのこの3ヶ月はとても忘れられないかけがえのない宝物です！本当に花譜ちゃんには感謝してもしきれません！！その恩返しの意も込めましてこれからも僕はずっとあなたを観測し続けます！！！花譜ちゃんが歌い続ける限り僕は追いかけ続けます！！！！観測者としても...<br>
            これからも大好きな歌を貫いてください！『好きなことを好きなように好きでいることに理由はいらない』ですよね？！！
          </p>
        </div>
        <div class="card-footer">にほんのどこかにいる17さい</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜へ<br>
            <br>
            一周年おめでとう<br>
            <br>
            楽しそうに歌っている花譜が大好きなのでこれからもずっと歌を好きでいて下さい。<br>
            <br>
            学業と活動の両立は大変だと思うけどずっと応援しているので頑張って下さい。
          </p>
        </div>
        <div class="card-footer">トム</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            活動1周年本当におめでとう！！！<br>
            最近色んなイベントに出演しているのを現地で観測していて、<br>
            その度に会場が湧きたつのが自分のことのように嬉しい！！！<br>
            花譜ちゃんはこれからまだまだ伸びていく存在だと思ってるから、<br>
            これからも全力で観測していこうと思ってるよ！！<br>
            花譜が大好きだ！！
          </p>
        </div>
        <div class="card-footer">綾人</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            僕が花譜さんを知ったのはあのライブの少し前です。<br>
            花譜さんの歌を聴いた瞬間好きになりました。<br>
            <br>
            こんな人がいるんだなと。<br>
            <br>
            それでTwitterを見てみたらまさかの15歳だった！<br>
            こんな15歳がいるのか。<br>
            本当に尊敬する存在です。花譜さんは。<br>
            <br>
            今ずっと観測を聴いています。笑<br>
            何より心に直接届くその歌声。<br>
            こんな歌が歌える人は花譜さんしかいないと思います。<br>
            <br>
            これからも頑張ってください。<br>
            ずっと花譜さんと、運営の皆様方を応援しております。<br>
            <br>
            体調に気をつけて、辛かったら休んでくださいね。<br>
            <br>
            カンザキさんも無理しないでください笑<br>
            <br>
            世界の中に埋もれてしまうはずだった花譜さんを<br>
            この場で観測できる事に嬉しさと少しの誇りを感じます。<br>
            ありがとうございます。これからもよろしくお願いします。
          </p>
        </div>
        <div class="card-footer">:♢♦︎ヒロ♦︎♢:</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜へ<br>
            <br>
            活動1周年おめでとう！<br>
            いつも花譜の素敵な歌声によって彩りのある毎日になってるよ。<br>
            <br>
            <br>
            学業との両立大変かもだけど、このまま無理なく活動していければ一ファンとしては満足です！<br>
            <br>
            これからも続く限り全力で観測するからよろしく！
          </p>
        </div>
        <div class="card-footer">ばかんす</div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 my-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            花譜さんを知ったのはYouTubeの#02からで、偶然開いたその動画の不思議な世界観に惹かれチャンネルの登録をしました。<br>
            <br>
            まもなく#03が投稿され、花譜さん自身を「この子は只者じゃない」と感じたと共に、その短い楽曲での世界観の広がりを強く感じました。<br>
            <br>
            その後しばらくこの楽曲の詳細を探し続けましたが勿論見つかるはずもなく、#05の概要欄でオリジナル曲な上に作詞・作曲・編曲がカンザキイオリさんだと知り<br>
            「この二人は世界を変える」と感じました。<br>
            <br>
            また、次々と動画を投稿されて行くうちに素晴らしい映像制作にも興味が出るようになり、川サキケンジさんの過去作等を探し回っていた事をよく覚えています。<br>
            <br>
            「不可解」は仕事の都合上ライブビューイングからの観測となりましたが、私自身もクラウドファンディングに参加した共犯者でもあったため、実際に全国各地で観測できた事を非常に嬉しく思っています。<br>
            <br>
            「観測」はアレンジも素晴らしく、花譜さんの歌声を十分に引き出せるように構成されているのが伝わってきて、花譜さんや制作に関わっているスタッフさんに感謝しきれません。<br>
            <br>
            最後になりますが、これから寒い時期になるので花譜さんもスタッフの皆さんも体調にお気をつけて頑張ってください。
          </p>
        </div>
        <div class="card-footer">村上さん</div>
      </div>
    </div>


  </div>
</div>

