<app-animate-bg [bgTextData]="bgTextData"></app-animate-bg>

<div class="container my-4">
  <div class="row">
    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            活動1周年、おめでとうございます。<br>
            私にとっては長いようで、とても短かったようにも思えます。<br>
            私は観測者になり半年が経ちます。<br>
            友達に布教されたのが最初だったのですが、その時に配信されてまもなくの雛鳥を聴きその透き通った声と美しい歌い方に惹かれました。<br>
            あの時の驚きは…言葉にならないほどです。<br>
            たくさんの人達と思い出に支えられた「受験」や「クラウドファンディング」の波を越えて実現した1stLIVE「不可解」の感動を私は忘れません。<br>
            <br>
            過去も今も未来も変わりない「花譜」を観測するために。<br>
            私はずっと応援しています。
          </p>
        </div>
        <div class="card-footer">哀音蒼蘭</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            1周年おめでとうございます！<br>
            <br>
            #01から花譜さんを知り、ずっと追い続けて今に至ります。<br>
            憂鬱だった受験期も、花譜さんの歌を聴いて乗り越える事ができ、無事に第一志望校に合格することが出来ました。花譜さんと同じ高校一年生でありながら、その歌声と才能にいつも魅了され、出会った時からずっと憧れの存在です。<br>
            先日の『不可解』はライブビューイングで参戦しましたが、感動のあまり、その後Twitterで感想を呟こうにも言葉が出てこない状況でした。確実に"花譜"はこれからも何かを変えると確信し、観測を続けることを決めた夜でした。<br>
            <br>
            学業との両立は本当に大変だと思います。疲れたらゆっくり休んで、体を壊さないようにこれからも頑張ってください。<br>
            <br>
            すきなうたをすきなだけうたってください。
          </p>
        </div>
        <div class="card-footer">すてぃ〜</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            一周年おめでとう！<br>
            私は花譜ちゃんのことをcount0で知りました。<br>
            私はそれまで曲をあまり聞く方ではなかったけどすきなVtuberが出るからcount0を見ていました。<br>
            そんな時に花譜ちゃんが歌う糸を聞いたときに一瞬で私は花譜の作る空気に飲まれてしまいました。<br>
            それ以来私は花譜ちゃんの曲を毎日聞いています。花譜ちゃんが楽しそうに歌を歌っている動画を見るのが大好きです。<br>
            <br>
            これからも自分が好きな歌を好きなだけ歌ってください。<br>
            そんな動画が出たら私たち観測者はそれを観測します。<br>
            本当に一周年おめでとう！
          </p>
        </div>
        <div class="card-footer">そうきくん。</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            活動1周年おめでとうございます！！<br>
            私は、同い年の花譜ちゃんが大好きです。（とんでもない人と同じ年に産まれちゃった。）<br>
            YouTubeの広告から花譜ちゃんの事を知り、最初は「何この子！？歌うまっ！！」ってひたすら驚いてました。<br>
            力強い、唯一無二の歌声と可愛らしい普段の喋り方とのギャップがとてもすきです。<br>
            花譜ちゃんの歌を聴くことで、楽しい気持ちになったり、感動したり、「がんばろう」って気持ちになったりします。<br>
            私も花譜ちゃんのように、誰かを楽しませられる人間になりたいです！<br>
            <br>
            これからも、できる限り、しっかりマナーを守りながら全力で推していきます！！<br>
            花譜ちゃん、これからも頑張ってね！！応援してるよ！！
          </p>
        </div>
        <div class="card-footer">はとみ
        </div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            1周年おめでとです！<br>
            花譜ちゃんのことは1月ごろに知り、ずっと聞かせていただいています。<br>
            僕は一つ年下の受験生です。<br>
            初めて歌声を聴いた時から、花譜ちゃんの声が大好きでした。<br>
            その歌声に元気をもらうことも多かったです。<br>
            この一年でいろいろな出来事があって、ふえぇな年になりました！<br>
            もっとたくさんの歌を歌って、みんなを笑顔にしてください！<br>
            P.S.<br>
            無理しないでくださいね！

          </p>
        </div>
        <div class="card-footer">イリィ</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            一周年おめでとうございます！<br>
            count0で花譜ちゃんを知ってから歌声、雰囲気、表現力、時折見える等身大の女の子の部分など。<br>
            様々な1面を観測してきて、その魅力に引き込まれ毎日歌を聴いています。<br>
            今では花譜ちゃんの歌は自分の生活の一部で、人生の彩りの1つになっています。<br>
            これからも花譜ちゃんが好きな歌を楽しんで、好きなだけ歌って貰えるよう精一杯応援していきますね。<br>
            <br>
            最後にもう一度、活動一周年本当におめでとうございます！
          </p>
        </div>
        <div class="card-footer">よりおじ</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ！<br>
            一周年おめでとおおお！！！('ω')ノ<br>
            花譜ちゃんのこと大好きだよおおお！！！！<br>
            いつも、花譜ちゃんの歌声を聞いて元気をもらってます！<br>
            大好きで、何回もリピートしたり…ファンアートとかたくさん描いています！！！<br>
            そんな今日は花譜ちゃんにとって記念すべき一周年！！！<br>
            もう、花譜ちゃんに出会えて本当に良かったって思ってます…(´；ω；`)ｳｩｩ！！！<br>
            可愛くて、歌声がきれいで、たまに噛んでしまうところとか…<br>
            全て好きです！！！！(*ﾉωﾉ)<br>
            これからも、ずっと応援してます！！！
          </p>
        </div>
        <div class="card-footer">春美</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん！<br>
            あなたのことは1stLive「不可解」で偶然知りました。気まぐれにYouTubeLIVEを開いた瞬間、かつてない衝撃を感じました。<br>
            <br>
            これは、間違いなく、世界を変えるものだ。<br>
            <br>
            直感的に分かりました。<br>
            私は「不可解」にて観測者となり、花譜さんの歌を聴き、その度にあなたの歌が好きになりました。<br>
            <br>
            15歳という若さにして何万人もの人々を魅了し続けるその歌声。私はそれを観測し続けたいと思います。<br>
            これからも頑張って下さい。1周年おめでとうございます！
          </p>
        </div>
        <div class="card-footer">はっすー</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん、一周年おめでとうございます！<br>
            私が花譜さんを知ったのはcount0からですが、応援を始めてからの日々が本当に楽しくて、これまであっという間だった気がします。<br>
            花譜さんの歌は他の何よりも私の心を動かして、世界を変えてくれました。<br>
            花譜さんの物語は始まったばかりで、これからも観測出来るということがとても嬉しいです。<br>
            これからも花譜さんが好きな歌を好きなだけ歌えることを願って、全身全霊で応援し続けます。<br>
            好きです。
          </p>
        </div>
        <div class="card-footer">ヘラムス</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん！<br>
            私は元々カンザキイオリさんが好きだったのですが、2ヶ月前のある日にカンザキさんのツイートをみて、「花譜ってなんだろう？」と思ってYouTubeで調べました。そこから、適当に選んだ「夜が降やむ前に」を聴いてすぐに歌声に魅了され、どハマりしました。後から花譜さんの年齢が自分と同じだと聞いて、とても驚きました。<br>
            それでも、まだプロローグであり、これからどんどん化けるんだと思うと全くその先が想像出来ないです。<br>
            私はこれからも成長していく「花譜」を「観測」する「観測者」でありたいです。<br>
            ホントに応援しています。<br>
            これからも頑張ってください！
          </p>
        </div>
        <div class="card-footer">ミズ</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん一周年おめでとうございます！<br>
            正直あなたが活動を始めてまだ一年しか経っていないことに驚いています。そのくらいあなたが与えてくれたものが大きいです。<br>
            はじめはあなたの声の魅力に惹かれて聞いていたのですがだんだんとあなたの歌の世界に魅せられてどんどん好きになっていきました。<br>
            １ｓｔLiveの『不可解』ではたしかに自分の中の″何か″が変えられました。その″何か″をこれからも大切にして生きていきます。<br>
            これからも応援していきます！<br>
            頑張ってください！
          </p>
        </div>
        <div class="card-footer">48日</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">

      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さん、1周年おめでとうございます！<br>
            私は特別何かを美しいと思うことはなかったのですが、あなたの声、歌、ビデオだけは美しい、綺麗だと思えました。<br>
            今の生きる糧です。<br>
            1周年、登録者20万人ということが自分のことのように嬉しくてきっと泣き叫んでいます(笑)<br>
            これからもあなたが好きな歌を歌い続けてください。<br>
            私もあなたが歌い続ける限り応援し続けます。<br>
            まだ私も10代なので、できないことが多いですが、心の底からあなたを愛しています。
          </p>
        </div>
        <div class="card-footer">ルエ</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            一周年おめでとうございます！<br>
            貴女の歌を初めて聴いたときからずっと応援してこれたこと本当に嬉しく思います。<br>
            花譜さんの歌は本当に多くの人の琴線に触れてきました。<br>
            きっとこれからももっと沢山の人を感動させていくことだと思います。<br>
            貴女の声が世界中に響き渡ることを心から願っています。<br>
            花譜さんが僕たちの目の前から羽ばたいて見えなくなるその時までずっと観測していきます。
          </p>
        </div>
        <div class="card-footer">野良猫のユウ</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            かぜ引いてない？<br>
            ふあんはない？<br>
            ちゃんと毎日寝るんだよ<br>
            やさいも食べるんだよ<br>
            んーとね、<br>
            大丈夫だよ、大丈夫だよ、みんな君のことが、<br>
            好きです。<br>
            きみにまた会える日まで、またね。
          </p>
        </div>
        <div class="card-footer">ゆば</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            僕は花譜さんの歌を広告で聞いて凄く良いなと思いました。<br>
            そしてそれがVtuberを知るきっかけになりました。<br>
            それまでV tuberには興味が無かったので、これは全て花譜さんのおかげです。<br>
            ありがとうございます。<br>
            花譜一周年おめでとうございます。
          </p>
        </div>
        <div class="card-footer">hamaji0105</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            一周年おめでとうございます。<br>
            私は元々ボカロ好きで、その中でも特にカンザキさんの曲が好きでした。<br>
            カンザキさんのツイートを見て、カンザキさんが楽曲提供していることを知り、調べたのが花譜ちゃんとの出会いでした。<br>
            その時、「忘れてしまえ」を聞いた時の感動は今でも鮮明に覚えています。儚げで、しかし1本芯がある、そんな花譜ちゃんの声が好きです。<br>
            私は、花譜ちゃんに生きる意味、生きがいを与えてもらいました。<br>
            私は、そんな花譜ちゃんが誇れるような観測者を目指して、努力したいと思います。<br>
            応援しています。頑張って下さい。
          </p>
        </div>
        <div class="card-footer">Shiva</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜さんへ<br>
            <br>
            一周年おめでとう！<br>
            <br>
            偶然カンザキイオリさんの曲を好きになって、花譜ちゃんがデビューすることを知って…この偶然が重なって#01から追いかけ続けられています。<br>
            僕らの知らない歌、知ってる歌を歌ってくれてありがとう。<br>
            <br>
            花譜ちゃんを知ってから、より一層音楽を好きになれました。<br>
            これからも好きな歌を好きなだけ歌って、好きなことをたくさん楽しんでほしいです。花譜ちゃんの楽しんでる姿を見るとこっちまで楽しくなるし、嬉しくなるからね。<br>
            <br>
            最後に、改めて一周年おめでとう！！これからもあなたたちの創る何かを観測し続けます。
          </p>
        </div>
        <div class="card-footer">そらち。</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            花譜ちゃん一周年おめでとう！！<br>
            超会議後に花譜ちゃんを知ったからまだ日が浅いけど、ずっと花譜ちゃんの歌を聴かせていただいているよぉ(´ω｀)<br>
            最初の歌を聴いたときは確か歌ってみたの「猛毒が襲う」だったかなぁ…。<br>
            あの曲を聴いてから興味を持ち始めて、今ではもうどっぷりと浸からせて頂いてます(´▽｀)<br>
            初めてのワンマンライブ「不可解」で間近に花譜ちゃんを感じることができて泣きそうになったし、演出も本当にすごかった（語彙力)<br>
            これからも好きな歌をたくさん歌ってくれたら嬉しいな。<br>
            学業との両立はかなり大変だと思うけど、無理のない範囲で頑張って！<br>
            <br>
            改めて一周年、本当におめでとう！！<br>
            これからも観測させていただくね。
          </p>
        </div>
        <div class="card-footer">おこづかいおばあちゃん</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            花譜ちゃんへ<br>
            <br>
            TwitterのTLに流れた布教に気になり2019年新年初めて聴いた曲は心臓と絡操でした。<br>
            魂に響くような歌声と完成度の高いMVにあっという間に惚れ込み、今では花と心臓をDLした今では通学時に毎日聴いています。<br>
            最期まで追っていたいと思えた、この人の活躍を見届けるまでは死ねないと思えた人は貴女が初めてでした。<br>
            一観測者としてずっと、ずっと応援させていただきたいと思います。<br>
            一周年おめでとう。
          </p>
        </div>
        <div class="card-footer">風剣</div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-sm-6 py-2">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
          </p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>


  </div>
</div>

